/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

img {
    max-width: 100%; /* Make images conform to parent container. */
}

a {
    text-decoration: none;
}

/* GLOBAL CLASSES */
body {
    background-image: url("../images/grey_background.png"); 
}

header {
    width: 100%;
    background-color: white;
}

#header {
    width: 960px;
    margin: 0 auto;
}

h1 {
    float: left;
    padding: 20px;
    background-color: teal;
}

nav {
    float: right;
    padding: 20px;
}

/* Home Page (index.html) */
.container {
    width: 960px;
    margin: 0 auto;
    /* background-image: url("../images/grey_background.png"); */
}

.aboutMe {
    clear: both;
    width: 70%;
    float: left;
    border: 1px solid grey;
    padding: 30px 20px;
    margin-top: 30px;
}

#profilePhoto {
    height: 200px;
    width: 200px;
    float: left;
}

.connect {
    /* width: 30%; */
    float: right;
    padding: 30px 20px;
    margin: 30px 0px 0px 20px;
    border: 1px solid grey;
}